#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(CURDIR)/build
	rm -f $(CURDIR)/zeroinstall/__init__.pyc
	rm -f $(CURDIR)/zeroinstall/__pycache__
	dh_clean 

build: build-indep
build-indep: build-stamp
build-arch:

build-stamp:
	dh_testdir
	python $(CURDIR)/setup.py build
	touch $@

install: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	python3 $(CURDIR)/setup.py install --install-layout=deb --root=$(CURDIR)/debian/0install-core
	python $(CURDIR)/setup.py install --force --install-layout=deb --root=$(CURDIR)/debian/0install-core
	rm -r $(CURDIR)/debian/0install-core/usr/man

binary-indep: build-stamp install
	dh_testdir
	dh_testroot
	dh_installchangelogs -p 0install-core
	dh_installdocs --link-doc=0install-core
	dh_installman
	dh_compress
	dh_fixperms
	dh_python3
	dh_python2
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
